<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="no.hig.strand.lars.todoity"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data android:name="com.google.android.gms.version"
             android:value="@integer/google_play_services_version"/>
        <meta-data android:name="com.google.android.maps.v2.API_KEY"
             android:value="AIzaSyAaE5Ow5GsnPlRUUqQiX84gsx1ocwT7XYE"/>
        <activity
            android:name="no.hig.strand.lars.todoity.activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="no.hig.strand.lars.todoity.activities.ListActivity"
            android:label="@string/title_activity_list"
            android:parentActivityName="no.hig.strand.lars.todoity.activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="no.hig.strand.lars.todoity.activities.MainActivity" />
        </activity>
        <activity
            android:name="no.hig.strand.lars.todoity.activities.TaskActivity"
            android:label="@string/title_activity_task" >
        </activity>
        <activity
            android:name="no.hig.strand.lars.todoity.activities.MapActivity"
            android:label="@string/title_activity_map"
            android:parentActivityName="no.hig.strand.lars.todoity.activities.TaskActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="no.hig.strand.lars.todoity.activities.TaskActivity" />
        </activity>
        <activity
            android:name="no.hig.strand.lars.todoity.activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="no.hig.strand.lars.todoity.activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="no.hig.strand.lars.todoity.activities.MainActivity" />
        </activity>
        
        
        
    </application>

</manifest>
